@import "mixins"
@import "sprite"

.discover {
	background-color #f2f6f7
	padding-top 205px
}

.discover__buttons-wrapper {
	width 460px
	margin auto
	margin-bottom 50px
}

.discover__buttons{
	font-family "Montserrat"
	font-size 13px
	color #918686
	background-color #d5d1d1
	border none
	font-weight bold
	padding-top 10px
	padding-left 25px
	padding-right 25px
	padding-bottom 10px
	border-radius 20px
	margin-right 10px
	cursor pointer
}

.discover__buttons--active {
	background-color #918686
	color white
}
